html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Arial, Ubuntu, sasn-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #5c6369;
  padding: 0;
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

p {
  line-height: 2.4rem;
  margin: 0 0 1rem 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #14141d;
}

.main {
  display: block;
  width: 100%;
  min-height: 50rem;
  margin: 8rem auto 0;
  padding: 0;
}

.innerPage_ContentArea_minHeight {
  height: 100%;
  height: calc(100% - 40rem);
}
