.banner {
  position: relative;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-position: 100%;
  background-size: cover;
  background-image: url('../../assets/graphics/bg.jpeg');
  width: 100%;
  height: 900px;
  margin: 0;
  padding: 0;
}

.content_wrap {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 0 10px;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 100%;
  max-width: 111.5rem;
}
.title {
  font-size: 5rem;
  line-height: 6rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.text {
  display: block;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  text-align: center;
}
.link {
  position: relative;
  display: block;
  font-size: 1.5rem;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  text-align: center;
  border: 1px solid #fff;
  max-width: 18rem;
  padding: 1.5rem 0;
  margin: 1rem auto 0;
}

.more {
  display: block;
  position: relative;
  z-index: 2;
}

.link:hover {
  border-color: #fea100;
  background-color: #fea100;
  transition: all 0.4s ease-in-out;
}
